# Project exclude paths
/.gradle/
.idea
/app/build/
/app/build/intermediates/javac/debug/classes/
/app/build/intermediates/javac/debugAndroidTest/classes/
/are/build/
/are/build/intermediates/javac/debug/classes/